---
import Layout from "~html/layouts/Layout.astro";
import Header from "~html/modules/Header.astro";
import ProjectList from "~/html/modules/ProjectList.astro";
import AwardsList from "~/html/modules/AwardsList.astro";
import Footer from "~html/modules/Footer.astro";
---

<Layout>
  <div class="py-8 pl-8 lg:py-16 lg:pl-16">
    <Header />
    <ProjectList />
    <AwardsList />
    <Footer />
  </div>
</Layout>
