---
import { meta } from "~/db";

import "@fontsource/fusion-pixel-12px-monospaced-jp";
import "~/styles/global.css";
---

<script>
  import "~scripts/app";
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{meta.SITE_ORNER} {meta.ORNER_JOB} {meta.SITE_NAME}</title>
  </head>
  <body class="font-mono text-12 font-normal">
    <slot />

    <canvas data-element="canvas" class="fixed left-0 top-0 w-full h-full -z-10"
    ></canvas>
  </body>
</html>

<style>
  body::-webkit-scrollbar {
    display: none;
  }
</style>
