---
import { meta } from "~/db";
---

<header class="grid grid-cols-12 gap-8">
  <h1 class="col-start-1 col-span-2">{meta.SITE_ORNER}</h1>
  <div class="col-start-3 col-span-full">{meta.ORNER_JOB}</div>
</header>
