---
import { meta } from "~/db";
---

<header class="grid grid-cols-12 gap-gridGap">
  <h1 class="col-start-1 row-start-1 col-span-2" data-textShuffleTarget>
    {meta.SITE_ORNER}
  </h1>
  <div class="col-start-3 row-start-1 col-span-3" data-textShuffleTarget>
    {meta.ORNER_JOB}
  </div>
  <div
    class="col-span-full row-start-1 text-zinc-400 text-right pr-gridGap"
    data-textShuffleTarget
  >
    {meta.SITE_NAME}
  </div>
</header>
